<!-- <h1>Hola UFG</h1>


<h1>Hola {{title}}</h1>

<app-compa></app-compa>
<app-compa></app-compa>
<app-compa></app-compa>
<app-compa></app-compa>
<app-compa></app-compa>

<app-programacion></app-programacion>
<app-programacion></app-programacion>

<app-hala-madrid></app-hala-madrid>
<app-hala-madrid></app-hala-madrid> -->

<!--<app-compb></app-compb>-->
<!--<app-calculadore-notest></app-calculadore-notest>-->

<!--<h1>Two way Binding</h1>-->
<!--<app-calculadora [tituloRecibir]="tituloAEnviar" (resultadoCambio)="manejarResultado($event)"></app-calculadora>-->

<!--<p>Resultado desde hijo: {{resultadoHijo}}</p>-->

<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu_open</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>

    <h1 class="example-app-name">FACTURACIÓN</h1>

    <span class="example-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/account">
        <mat-icon>account_box</mat-icon>
        <span>My account</span>
      </button>
      <button mat-menu-item (click)="sidenav.opened = false">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" style="height: 100vh;">
    <mat-sidenav #sidenav style="width: 200px; background-color: white;" mode="over">
      <img src="assets/images.png" alt="logo" width="128" style="margin-left: 20px">
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/part1" style="cursor: pointer">
        <mat-icon>search</mat-icon>
        <span>Parte 1</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/part2" style="cursor: pointer">
        <mat-icon>insert_drive_file</mat-icon>
        <span>Parte 2</span>
      </button>
      <mat-divider></mat-divider>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
